openapi: 3.1.0
info:
  contact:
    name: General Liquidity
    url: https://generalliquidity.com
  description: |
    General Liquidity (GL) is one governed surface over payment, commerce, identity,
    and provenance for the machine economy. A caller submits a signed `Intent`, a
    deny-first gate decides, and only the server holds the settle primitive, so the
    caller never does. The wire convention is `snake_case`.
  license:
    name: MIT
  title: "General Liquidity: The Machine Economy API"
  version: 2026-07-25
servers:
- description: Hosted gateway (holds the settle primitive).
  url: https://api.generalliquidity.com
- description: Sandbox / testnet gateway.
  url: https://sandbox.api.generalliquidity.com
security:
- bearerAuth: []
tags:
- description: "Resolve, verify, and disclose counterparty identity + provenance."
  name: identity
- description: Submit a signed Intent to the sovereign gate for settlement.
  name: money
- description: Merchant checkout over ACP / UCP. Beta.
  name: commerce
- description: |
    Read the signed, hash-linked audit trail — the `/audit` list + stream, the async job
    resource (`/intents/{id}`), and metered usage.
  name: governance
- description: |
    Manage outbound webhook endpoints. Events are derived from the signed audit chain and
    signed with a per-endpoint `whsec_` secret (the `GL-Signature` header). Management is
    OPERATOR-privileged: gated by the `GL-Operator` credential, never the agent bearer token.
  name: webhooks
- description: |
    The memory capability group: bi-temporal, signed, no-lookahead agent memory. `remember`
    writes a record, `recall` reads a point-in-time snapshot, `assemble` budgets it into a
    signed context, and `verify` checks a signed artifact offline. Reads/writes are AGENT
    authority scoped by a `MemoryMandate`; `forget` (cascading erasure) is OPERATOR-privileged,
    gated by the `GL-Operator` credential exactly like the kill switch. Optional + default-off:
    absent a configured memory engine, every `/memory/*` route is a 404.
  name: memory
- description: |
    Human operator controls over the settle path (approve · refund · kill switch ·
    circuit breaker). A SEPARATE authorization domain from the agent's bearer token:
    these routes are gated only by the `GL-Operator` credential, a detached ed25519
    signature the hosted server can verify but cannot mint, and the agent's
    `Authorization` is never consulted here. An agent credential therefore cannot
    perform an operator action.
  name: operator
paths:
  /resolve:
    post:
      description: |
        Normalize a counterparty reference (A2A card · signed disclosure · CAIP account)
        into one identity, its accepted rails, and trust signals. Read-only.
      operationId: resolve
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/resolve_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Counterparty'
          description: The normalized counterparty.
        "400":
          $ref: '#/components/responses/Problem'
        "401":
          $ref: '#/components/responses/Problem'
        "404":
          $ref: '#/components/responses/Problem'
        "429":
          $ref: '#/components/responses/Problem'
      summary: Normalize any counterparty reference into one identity.
      tags:
      - identity
  /pay:
    post:
      description: |
        Submit a signed `Intent`. The sovereign gate evaluates mandate · caps · risk ·
        velocity · deny-list over the six irreducible `Terms`. On `allow` it settles on
        the routed rail and returns a durable `Receipt`. On `confirm` it returns a
        human-approval requirement (RFC 7807). On `deny` it refuses. The caller never
        holds a settle primitive.
      operationId: pay
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Intent'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Receipt'
          description: "Settled. A durable, machine-parseable Receipt."
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Decision'
          description: Gate returned `confirm` — human approval required before settlement.
        "400":
          $ref: '#/components/responses/Problem'
        "401":
          $ref: '#/components/responses/Problem'
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Gate returned `deny`. The Intent falls outside mandate/policy.
        "409":
          $ref: '#/components/responses/Problem'
        "422":
          $ref: '#/components/responses/Problem'
        "429":
          $ref: '#/components/responses/Problem'
      summary: Submit a signed Intent; the gate decides and settles.
      tags:
      - money
  /verify:
    post:
      description: |
        Check a counterparty's signed `Disclosure` against policy — identity, provenance,
        and enforcement proof — returning a `Decision`.
      operationId: verify
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Disclosure'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Decision'
          description: The gate's decision on the disclosure.
        "400":
          $ref: '#/components/responses/Problem'
        "401":
          $ref: '#/components/responses/Problem'
        "429":
          $ref: '#/components/responses/Problem'
      summary: Check a counterparty's signed disclosure against policy.
      tags:
      - identity
  /disclose:
    post:
      description: |
        Produce GL's own signed `Disclosure`: what this agent is and what it is
        authorized to do. Read-only with respect to value.
      operationId: disclose
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Disclosure'
          description: The signed self-description.
        "401":
          $ref: '#/components/responses/Problem'
      summary: Produce GL's own signed disclosure.
      tags:
      - identity
  /audit:
    get:
      description: |
        Returns a `Page` envelope of signed audit events, keyed on the audit `seq`. Pass
        `cursor` (from a prior page's `next_cursor`) to resume; a `limit`-only call with no
        cursor returns the first page, so the legacy bare-`limit` request keeps working. A
        malformed or stale cursor is a `400 intent.malformed`.
      operationId: audit
      parameters:
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/audit_200_response'
          description: A page of signed audit events.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
            X-Request-Id:
              $ref: '#/components/headers/RequestId'
        "400":
          $ref: '#/components/responses/Problem'
        "401":
          $ref: '#/components/responses/Problem'
        "429":
          $ref: '#/components/responses/Problem'
      summary: "Read the signed, hash-linked audit trail (cursor-paginated)."
      tags:
      - governance
  /audit/stream:
    get:
      description: |
        A read/observe surface over the SAME signed audit chain `/audit` pages. Returns a
        `text/event-stream`: each appended entry is one SSE frame (`id:` = the audit `seq`,
        `event:` = the entry type, `data:` = the entry). A reconnecting client sends
        `Last-Event-ID` (the last `seq` it saw) to replay missed entries before joining the
        live fan-out. Never moves money and never writes the chain. Default-off: absent an
        event-stream backing, this route is a 404.
      operationId: auditStream
      parameters:
      - description: "The last audit `seq` the client received, for gap-free resume."
        explode: false
        in: header
        name: Last-Event-ID
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/event-stream:
              schema:
                description: SSE frames; each `data:` line is an AuditEvent JSON object.
                type: string
          description: An open SSE stream of audit entries.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/RequestId'
        "401":
          $ref: '#/components/responses/Problem'
        "404":
          $ref: '#/components/responses/Problem'
        "429":
          $ref: '#/components/responses/Problem'
      summary: Subscribe to the signed audit chain as Server-Sent Events.
      tags:
      - governance
  /intents/{id}:
    get:
      description: |
        A first-class read projection over an intent's confirm-park-approve lifecycle: a
        stable id, a terminal-state enum, the settlement receipt on a settled job, the RFC
        9457 problem on a denied/failed job, and the resume material (challenge + mandate)
        on a still-pending job. Derived from the persisted intent + the signed audit trail.
        Default-off: absent the job wiring, this route is a 404.
      operationId: getIntent
      parameters:
      - description: The intent's idempotency key — the stable resource id.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
          description: The job resource.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/RequestId'
        "401":
          $ref: '#/components/responses/Problem'
        "404":
          $ref: '#/components/responses/Problem'
        "429":
          $ref: '#/components/responses/Problem'
      summary: Read the async job resource for one intent.
      tags:
      - governance
  /intents/{id}/events:
    get:
      operationId: getIntentEvents
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/audit_200_response'
          description: A page of the intent's signed audit events.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/RequestId'
        "400":
          $ref: '#/components/responses/Problem'
        "401":
          $ref: '#/components/responses/Problem'
        "404":
          $ref: '#/components/responses/Problem'
        "429":
          $ref: '#/components/responses/Problem'
      summary: List one intent's audit events (cursor-paginated).
      tags:
      - governance
  /usage:
    get:
      description: |
        Call counting only — no prices, no billing. Aggregates the authenticated principal's
        calls over a half-open window `[since, until)`, optionally filtered to calls carrying
        EVERY listed tag (AND semantics). Tags are UNSIGNED per-request attribution supplied
        via the `X-GL-Tags` header; they never touch the Intent or the gate decision.
        Default-off: absent a usage store, this route is a 404 and nothing is recorded.
      operationId: getUsage
      parameters:
      - description: ISO-8601 inclusive lower bound.
        explode: true
        in: query
        name: since
        required: true
        schema:
          format: date-time
          type: string
        style: form
      - description: ISO-8601 exclusive upper bound.
        explode: true
        in: query
        name: until
        required: true
        schema:
          format: date-time
          type: string
        style: form
      - description: Repeatable; count only calls carrying every listed tag.
        explode: true
        in: query
        name: tags
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageSummary'
          description: The usage summary.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/RequestId'
        "400":
          $ref: '#/components/responses/Problem'
        "401":
          $ref: '#/components/responses/Problem'
        "404":
          $ref: '#/components/responses/Problem'
        "429":
          $ref: '#/components/responses/Problem'
      summary: Read metered call counts for the authenticated principal.
      tags:
      - governance
  /webhooks/endpoints:
    get:
      operationId: listWebhookEndpoints
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listWebhookEndpoints_200_response'
          description: The registered endpoints (secrets redacted).
        "401":
          $ref: '#/components/responses/Problem'
        "404":
          $ref: '#/components/responses/Problem'
      security:
      - operatorAuth: []
      summary: List webhook endpoints. (Operator authority)
      tags:
      - webhooks
    post:
      description: |
        Registers an endpoint that receives signed events derived from the audit chain. An
        endpoint that receives settlement/audit events is OPERATOR-privileged, so this route
        is gated by the `GL-Operator` credential channel, not the agent bearer token. The
        `whsec_` signing secret is returned ONCE, on this call; the reads never re-expose it.
        Default-off: absent a webhook store, this route is a 404.
      operationId: createWebhookEndpoint
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createWebhookEndpoint_request'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookEndpointCreated'
          description: "The created endpoint, including its one-time secret."
        "400":
          $ref: '#/components/responses/Problem'
        "401":
          $ref: '#/components/responses/Problem'
        "404":
          $ref: '#/components/responses/Problem'
      security:
      - operatorAuth: []
      summary: Register a webhook endpoint. (Operator authority)
      tags:
      - webhooks
  /webhooks/endpoints/{id}:
    delete:
      operationId: deleteWebhookEndpoint
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Deleted.
        "401":
          $ref: '#/components/responses/Problem'
        "404":
          $ref: '#/components/responses/Problem'
      security:
      - operatorAuth: []
      summary: Delete one webhook endpoint. (Operator authority)
      tags:
      - webhooks
    get:
      operationId: getWebhookEndpoint
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookEndpoint'
          description: The endpoint (secret redacted).
        "401":
          $ref: '#/components/responses/Problem'
        "404":
          $ref: '#/components/responses/Problem'
      security:
      - operatorAuth: []
      summary: Read one webhook endpoint. (Operator authority)
      tags:
      - webhooks
    patch:
      operationId: updateWebhookEndpoint
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateWebhookEndpoint_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookEndpoint'
          description: The updated endpoint (secret redacted).
        "400":
          $ref: '#/components/responses/Problem'
        "401":
          $ref: '#/components/responses/Problem'
        "404":
          $ref: '#/components/responses/Problem'
      security:
      - operatorAuth: []
      summary: Update one webhook endpoint. (Operator authority)
      tags:
      - webhooks
  /memory/remember:
    post:
      description: |
        Write a record valid from `validFrom` (open-ended when `validTo` is null). The engine
        gates the write against the `MemoryMandate` (needs `canWrite`) and its own preconditions:
        `allow` returns the signed `MemoryRecord`; a parked write is a `202 memory.pending`; a
        refusal is `memory.denied` (engine) or `memory.forbidden` (mandate). No-lookahead: a
        record never reveals a future edit. Default-off: absent a memory engine, this is a 404.
      operationId: memoryRemember
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RememberRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MemoryRecord'
          description: "The signed, recorded bi-temporal record."
        "202":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: The write was accepted and parked pending operator confirmation.
        "400":
          $ref: '#/components/responses/Problem'
        "401":
          $ref: '#/components/responses/Problem'
        "403":
          $ref: '#/components/responses/Problem'
        "404":
          $ref: '#/components/responses/Problem'
        "429":
          $ref: '#/components/responses/Problem'
      summary: Write one bi-temporal memory record under a mandate.
      tags:
      - memory
  /memory/recall:
    post:
      description: |
        Read the records valid at `validAt` as known at `txAt`, under one seal, cursor-paginated
        for large snapshots. Needs `canRead`; a recall reaching before the mandate's `asOfFloor`
        is a `memory.forbidden`. Default-off: absent a memory engine, this is a 404.
      operationId: memoryRecall
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecallRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SnapshotPage'
          description: A page of snapshot records carrying the full-snapshot seal
            + coordinates.
        "400":
          $ref: '#/components/responses/Problem'
        "401":
          $ref: '#/components/responses/Problem'
        "403":
          $ref: '#/components/responses/Problem'
        "404":
          $ref: '#/components/responses/Problem'
        "429":
          $ref: '#/components/responses/Problem'
      summary: Read a sealed point-in-time snapshot.
      tags:
      - memory
  /memory/assemble:
    post:
      description: |
        Take a supplied `snapshot` (or `recall` params to produce one) and return a signed
        `AssembledContext` within `budget.maxTokens`. Needs `canRead`. Abstention (the engine
        declining to fill the budget) is a valid `200`, not an error. Default-off: 404 absent an engine.
      operationId: memoryAssemble
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssembleRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssembledContext'
          description: "The signed, ordered context (possibly an abstention)."
        "400":
          $ref: '#/components/responses/Problem'
        "401":
          $ref: '#/components/responses/Problem'
        "403":
          $ref: '#/components/responses/Problem'
        "404":
          $ref: '#/components/responses/Problem'
        "429":
          $ref: '#/components/responses/Problem'
      summary: "Assemble a budgeted, signed context from a snapshot."
      tags:
      - memory
  /memory/verify:
    post:
      description: |
        Offline verification of a signed record · snapshot · context · erasure proof. FREE and
        UNMETERED: it reaches no store, mutates nothing, and needs no mandate. Default-off: 404
        absent a memory engine.
      operationId: memoryVerify
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/memoryVerify_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/memoryVerify_200_response'
          description: The verification verdict.
        "400":
          $ref: '#/components/responses/Problem'
        "404":
          $ref: '#/components/responses/Problem'
        "429":
          $ref: '#/components/responses/Problem'
      summary: Verify a signed memory artifact offline.
      tags:
      - memory
  /memory/forget:
    post:
      description: |
        DESTRUCTIVE and OPERATOR-privileged: gated by the `GL-Operator` credential on its own
        disjoint domain (the same channel the kill switch + webhook CRUD use), never the agent
        bearer token, so an agent credential grants nothing here. The mandate's `canErase` is
        checked in ADDITION. Returns a signed `ErasureProof` and emits `memory.erased`.
        Default-off: 404 absent a memory engine.
      operationId: memoryForget
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ForgetRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErasureProof'
          description: The signed cascading-erasure proof.
        "400":
          $ref: '#/components/responses/Problem'
        "401":
          $ref: '#/components/responses/Problem'
        "403":
          $ref: '#/components/responses/Problem'
        "404":
          $ref: '#/components/responses/Problem'
        "429":
          $ref: '#/components/responses/Problem'
      security:
      - operatorAuth: []
      summary: Cascading erasure of a record and its dependents. (Operator)
      tags:
      - memory
  /buy:
    post:
      description: |
        Beta. Drive a merchant checkout (ACP · UCP) to a completed `Order`; calls `pay`
        for the authorize/settle beats. Documented but not yet stable.
      operationId: buy
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Intent'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
          description: The completed order.
        "400":
          $ref: '#/components/responses/Problem'
        "401":
          $ref: '#/components/responses/Problem'
        "403":
          $ref: '#/components/responses/Problem'
        "409":
          $ref: '#/components/responses/Problem'
        "429":
          $ref: '#/components/responses/Problem'
      summary: Drive a merchant checkout to a completed Order. (Beta)
      tags:
      - commerce
      x-beta: true
  /quote:
    post:
      description: |
        Beta. Get a server-authoritative priced `Cart` (tax, inventory, fulfillment
        computed by the merchant) before committing to `buy`.
      operationId: quote
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/quote_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cart'
          description: A server-authoritative priced cart.
        "400":
          $ref: '#/components/responses/Problem'
        "401":
          $ref: '#/components/responses/Problem'
        "429":
          $ref: '#/components/responses/Problem'
      summary: Get a server-authoritative priced cart before buy. (Beta)
      tags:
      - commerce
      x-beta: true
  /operator/approve:
    post:
      description: |
        The network half of the parked-intent flow. A caller who received an
        `approval.pending` problem holds exactly the fields this route needs — the
        intent id, the matched mandate id, and the challenge that binds an approval to
        that intent. The kernel's own preconditions are preserved: a hard deny cannot
        be approved away, and a high-risk, irreversible or large intent that arrives
        without an explicit `acknowledged` comes back as another `approval.pending`
        (the settler's challenge-response), never a settlement.
      operationId: operatorApprove
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OperatorApprove'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Receipt'
          description: Approved and settled. The durable Receipt.
        "202":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: The settler withheld release pending explicit acknowledgement.
        "400":
          $ref: '#/components/responses/Problem'
        "401":
          $ref: '#/components/responses/Problem'
        "409":
          $ref: '#/components/responses/Problem'
        "413":
          $ref: '#/components/responses/Problem'
        "429":
          $ref: '#/components/responses/Problem'
      security:
      - operatorAuth: []
      summary: Release a parked (confirm-tier) intent to settlement.
      tags:
      - operator
  /operator/refund:
    post:
      description: |
        Reverse a settled payment, resolving to the PSP that issued the receipt.
        Refusing an irreversible refund is a safety property, not a limitation: a
        settlement on an irreversible rail comes back `operator.refused`.
      operationId: operatorRefund
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OperatorRefund'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefundResult'
          description: The refund result.
        "400":
          $ref: '#/components/responses/Problem'
        "401":
          $ref: '#/components/responses/Problem'
        "409":
          $ref: '#/components/responses/Problem'
        "413":
          $ref: '#/components/responses/Problem'
        "429":
          $ref: '#/components/responses/Problem'
      security:
      - operatorAuth: []
      summary: Reverse a settled payment on a reversible rail.
      tags:
      - operator
  /operator/kill-switch:
    post:
      description: |
        Engage or disengage the kill switch. While engaged, no payment settles — the
        agent cannot write this flag, so it is a genuine operator brake for an
        incident. The two directions are signed separately, so an "unfreeze"
        credential cannot be replayed as a freeze.
      operationId: operatorKillSwitch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OperatorKillSwitch'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperatorStateView'
          description: The live halt state after the operation.
        "400":
          $ref: '#/components/responses/Problem'
        "401":
          $ref: '#/components/responses/Problem'
        "413":
          $ref: '#/components/responses/Problem'
        "429":
          $ref: '#/components/responses/Problem'
      security:
      - operatorAuth: []
      summary: Freeze or unfreeze the settle path.
      tags:
      - operator
  /operator/circuit-breaker/reset:
    post:
      description: |
        Reset the circuit breaker after it trips on consecutive blocks or failures,
        re-enabling auto-execution. An operator-only control.
      operationId: operatorResetCircuitBreaker
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OperatorRationale'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperatorStateView'
          description: The live halt state after the reset.
        "400":
          $ref: '#/components/responses/Problem'
        "401":
          $ref: '#/components/responses/Problem'
        "413":
          $ref: '#/components/responses/Problem'
        "429":
          $ref: '#/components/responses/Problem'
      security:
      - operatorAuth: []
      summary: Clear a tripped circuit breaker.
      tags:
      - operator
components:
  headers:
    RateLimitLimit:
      description: The request ceiling for the current fixed window (RFC draft `X-RateLimit-*`).
      explode: false
      schema: {}
      style: simple
    RateLimitRemaining:
      description: Requests left in the current window after this one (0 on a 429).
      explode: false
      schema: {}
      style: simple
    RateLimitReset:
      description: Unix SECONDS of the current window's edge.
      explode: false
      schema: {}
      style: simple
    RequestId:
      description: |
        Correlation id, on EVERY response. Echoed from a well-formed inbound `X-Request-Id` /
        `Request-Id`, otherwise minted fresh, so a client can quote it in a support ticket and
        an operator can grep the audit trail for exactly that call.
      explode: false
      schema: {}
      style: simple
    GLSignature:
      description: |
        `GL-Signature: t=<unix_seconds>,v1=<hex_hmac>` on every webhook delivery. `v1` is the
        hex HMAC-SHA256 of the ASCII `"{t}.{rawBody}"` under the endpoint's `whsec_` secret. A
        receiver recomputes it over the untouched received body to authenticate the callback.
      explode: false
      schema:
        type: string
      style: simple
  parameters:
    IdempotencyKey:
      description: |
        Client-generated, server-enforced idempotency key. Required on all mutating
        operations (`pay`, `buy`) — on a payment path this is a correctness guarantee
        against double-spend, not a convenience.
      explode: false
      in: header
      name: Idempotency-Key
      required: true
      schema:
        minLength: 1
        type: string
      style: simple
    Cursor:
      description: Opaque token from a prior page's `next_cursor`. Absent means "from
        the start".
      explode: true
      in: query
      name: cursor
      required: false
      schema:
        type: string
      style: form
    Limit:
      description: "Page size, clamped to [1, 100]; defaults to 20."
      explode: true
      in: query
      name: limit
      required: false
      schema:
        default: 20
        maximum: 100
        minimum: 1
        type: integer
      style: form
  responses:
    Problem:
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
      description: RFC 7807 problem detail.
  schemas:
    RailId:
      description: A payment rail behind pay()/buy(). The only place vendor/protocol
        names appear.
      enum:
      - x402
      - mpp
      - ap2
      - acp
      - ucp
      - card
      - onchain
      - l402
      type: string
    Outcome:
      description: The gate's verdict. Deny-first.
      enum:
      - allow
      - confirm
      - deny
      type: string
    Reversibility:
      enum:
      - reversible
      - irreversible
      type: string
    Finality:
      enum:
      - instant
      - deferred
      type: string
    CapitalSource:
      description: Who fronts capital across the settlement.
      enum:
      - payer
      - facilitator
      - merchant_of_record
      - solver
      type: string
    Presence:
      description: Human-presence requirement at authorization time.
      enum:
      - present
      - delegated
      type: string
    Amount:
      additionalProperties: false
      example:
        asset: asset
        value: value
      properties:
        value:
          description: "Minor units / atomic, carried as a string to avoid float loss."
          type: string
        asset:
          description: Currency code or CAIP-19 asset id.
          type: string
      required:
      - asset
      - value
    Terms:
      additionalProperties: false
      description: |
        The six irreducible fields — explicit on every Intent and Receipt, never
        silently defaulted. This is what the Gate reasons over.
      example:
        credential: credential
        capital_source: payer
        rail: null
        reversibility: reversible
        finality: instant
        presence: present
      properties:
        reversibility:
          $ref: '#/components/schemas/Reversibility'
        finality:
          $ref: '#/components/schemas/Finality'
        credential:
          description: "Authorization model id, e.g. \"eip3009\" | \"vc-mandate\"\
            \ | \"http-sig\"."
          type: string
        rail:
          $ref: '#/components/schemas/RailId'
        capital_source:
          $ref: '#/components/schemas/CapitalSource'
        presence:
          $ref: '#/components/schemas/Presence'
      required:
      - capital_source
      - credential
      - finality
      - presence
      - rail
      - reversibility
    Mandate:
      additionalProperties: {}
      description: "Operator-granted, scoped, capped, expiring spend authority."
      properties:
        id:
          type: string
        payees:
          description: Allowed counterparties (CAIP-10 where on-chain).
          items:
            type: string
        per_tx_cap:
          $ref: '#/components/schemas/Amount'
        per_period_cap:
          $ref: '#/components/schemas/Amount'
        period:
          description: ISO-8601 duration for the period cap window.
        expires_at:
          format: date-time
          type: string
        constraints:
          additionalProperties: {}
      required:
      - expires_at
      - id
      - payees
      - per_period_cap
      - per_tx_cap
      - period
    Grant:
      additionalProperties: false
      description: An operator-counter-signed delegation of scope to an agent key.
      example:
        expires_at: 2000-01-23T04:56:07.000+00:00
        agent_id: agent_id
        signature: signature
        mandate_id: mandate_id
      properties:
        agent_id:
          type: string
        mandate_id:
          type: string
        expires_at:
          format: date-time
          type: string
        signature:
          type: string
      required:
      - agent_id
      - expires_at
      - mandate_id
      - signature
    Envelope:
      additionalProperties: false
      description: The layered signed delegation wrapping an Intent — identity + mandate
        + provenance.
      example:
        signature: signature
        identity: identity
        mandate_id: mandate_id
        grant:
          expires_at: 2000-01-23T04:56:07.000+00:00
          agent_id: agent_id
          signature: signature
          mandate_id: mandate_id
      properties:
        identity:
          description: "Caller agent id (signed disclosure / ERC-8004, CAIP-addressed)."
          type: string
        mandate_id:
          type: string
        grant:
          $ref: '#/components/schemas/Grant'
        signature:
          type: string
      required:
      - grant
      - identity
      - mandate_id
      - signature
    Intent:
      additionalProperties: false
      description: A signed request to move value. Input to pay(); never carries a
        settle primitive.
      example:
        payee: payee
        amount:
          asset: asset
          value: value
        envelope:
          signature: signature
          identity: identity
          mandate_id: mandate_id
          grant:
            expires_at: 2000-01-23T04:56:07.000+00:00
            agent_id: agent_id
            signature: signature
            mandate_id: mandate_id
        purpose: purpose
        terms:
          credential: credential
          capital_source: payer
          rail: null
          reversibility: reversible
          finality: instant
          presence: present
        idempotency_key: idempotency_key
      properties:
        idempotency_key:
          type: string
        payee:
          description: Resolved to a CAIP-10 account where the rail is on-chain.
          type: string
        amount:
          $ref: '#/components/schemas/Amount'
        purpose:
          type: string
        terms:
          $ref: '#/components/schemas/Terms'
        envelope:
          $ref: '#/components/schemas/Envelope'
      required:
      - amount
      - envelope
      - idempotency_key
      - payee
      - purpose
      - terms
    Decision:
      additionalProperties: false
      description: The gate's decision on an Intent.
      example:
        reasons:
        - reasons
        - reasons
        mandate_id: mandate_id
        outcome: allow
      properties:
        outcome:
          $ref: '#/components/schemas/Outcome'
        reasons:
          items:
            type: string
          type: array
        mandate_id:
          type: string
      required:
      - mandate_id
      - outcome
      - reasons
    Receipt:
      additionalProperties: false
      description: "Durable, machine-parseable proof of settlement."
      example:
        reference: reference
        intent_key: intent_key
        terms:
          credential: credential
          capital_source: payer
          rail: null
          reversibility: reversible
          finality: instant
          presence: present
        rail: x402
        enforcement: enforcement
        settled_at: 2000-01-23T04:56:07.000+00:00
      properties:
        intent_key:
          type: string
        rail:
          $ref: '#/components/schemas/RailId'
        reference:
          description: Rail settlement reference / on-chain tx hash.
          type: string
        terms:
          $ref: '#/components/schemas/Terms'
        settled_at:
          format: date-time
          type: string
        enforcement:
          description: "Proof-of-Enforcement hash, byte-identical between emitter\
            \ and verifier."
          type: string
      required:
      - enforcement
      - intent_key
      - rail
      - reference
      - settled_at
      - terms
    Disclosure:
      additionalProperties: {}
      description: |
        A signed self-description (identity + provenance). GL's disclosure format. BREAKING CHANGE (version 2026-07-23): collapsed onto the full signed envelope. The prior shape {agent_id, document, signature: string} carried a single key and could not express key rotation; it is replaced by the structured ed25519 signature and an optional rotation_chain. The wire shape now equals the signed envelope both sides exchange, so a rotated signing key can disclose while the stable agent id (document.agentId) is preserved. No agent_id at the top level: it lives in the signed document.
      example:
        rotation_chain:
        - signature: signature
          from: from
          to: to
          type: rotation
          rotated_at: 2000-01-23T04:56:07.000+00:00
        - signature: signature
          from: from
          to: to
          type: rotation
          rotated_at: 2000-01-23T04:56:07.000+00:00
        signature:
          public_key: public_key
          value: value
          algorithm: ed25519
        document: "{}"
      properties:
        document:
          additionalProperties: false
          description: |
            The signed disclosure document (an AgentDisclosure). Its `agentId` field is the stable identity the signature (and any rotation_chain) roots at.
        signature:
          $ref: '#/components/schemas/Disclosure_signature'
        rotation_chain:
          description: |
            Present only when the signing key has rotated away from document.agentId; links the stable id to signature.public_key. Absent in the common no-rotation case.
          items:
            $ref: '#/components/schemas/KeyRotationStatement'
      required:
      - document
      - signature
    KeyRotationStatement:
      additionalProperties: false
      description: |
        One signed hop of a key-rotation chain: the old key signs the move to the new key, so an identity survives a key change (an agentId IS its public key).
      example:
        signature: signature
        from: from
        to: to
        type: rotation
        rotated_at: 2000-01-23T04:56:07.000+00:00
      properties:
        type:
          enum:
          - rotation
          type: string
        from:
          description: agentId (public key hex) being rotated away from.
          type: string
        to:
          description: agentId (public key hex) being rotated to.
          type: string
        rotated_at:
          format: date-time
          type: string
        signature:
          description: "Old key's signature over {type, from, to, rotated_at} (hex)."
          type: string
      required:
      - from
      - rotated_at
      - signature
      - to
      - type
    Counterparty:
      additionalProperties: {}
      description: "A normalized, resolved identity + accepted rails + trust."
      example:
        trust: "{}"
        capabilities:
        - capabilities
        - capabilities
        rails:
        - x402
        - x402
        id: id
        transport: a2a
      properties:
        id:
          type: string
        transport:
          enum:
          - a2a
          - disclosure
          - caip
        capabilities:
          items:
            type: string
        rails:
          items:
            $ref: '#/components/schemas/RailId'
        trust:
          additionalProperties: false
      required:
      - capabilities
      - id
      - rails
      - transport
    AuditEvent:
      additionalProperties: {}
      description: "A single signed, hash-linked entry in the audit trail."
      example:
        at: 2000-01-23T04:56:07.000+00:00
        intent_key: intent_key
        payload: "{}"
        prev: prev
        type: type
      properties:
        type:
          description: "Monotonic wire event type, e.g. \"intent.gated\" | \"intent.settled\"\
            ."
        at:
          format: date-time
          type: string
        intent_key:
          type: string
        prev:
          description: HMAC hash of the previous entry — the hash-link.
        payload:
          additionalProperties: false
      required:
      - at
      - payload
      - type
    Page:
      description: |
        A cursor-paginated page envelope. `data` holds the items; `next_cursor` names the last
        item so the next call resumes strictly after it (no overlap, no gap). Concrete `data`
        item types are given by the referencing operation.
      properties:
        data:
          items: {}
          type: array
        has_more:
          description: True when items remain after this page.
          type: boolean
        next_cursor:
          description: "Token for the next page, or null when `has_more` is false."
          nullable: true
          type: string
      required:
      - data
      - has_more
      - next_cursor
    JobStatus:
      description: |
        Terminal-state enum for a job, grounded one-for-one in the store states. `pending` is
        the only non-terminal state (parked, awaiting operator approval).
      enum:
      - pending
      - settled
      - denied
      - failed
      type: string
    Job:
      additionalProperties: {}
      description: A read projection over an intent's confirm-park-approve lifecycle.
      example:
        problem:
          instance: https://openapi-generator.tech
          code: code
          detail: detail
          retry_after: 6
          type: https://openapi-generator.tech
          title: title
          status: 139
        terminal_at: 2000-01-23T04:56:07.000+00:00
        pending:
          mandateId: mandateId
          challenge: challenge
        created_at: 2000-01-23T04:56:07.000+00:00
        receipt:
          reference: reference
          intent_key: intent_key
          terms:
            credential: credential
            capital_source: payer
            rail: null
            reversibility: reversible
            finality: instant
            presence: present
          rail: x402
          enforcement: enforcement
          settled_at: 2000-01-23T04:56:07.000+00:00
        links:
          self: self
          events: events
        id: id
        outcome: allow
        status: pending
      properties:
        id:
          description: The idempotency/intent key — the stable resource id.
        status:
          $ref: '#/components/schemas/JobStatus'
        created_at:
          description: "The intent's first audit entry, falling back to its settle\
            \ time."
          format: date-time
        terminal_at:
          description: Set ONLY for terminal states (settled/denied/failed).
          format: date-time
        outcome:
          $ref: '#/components/schemas/Outcome'
        receipt:
          $ref: '#/components/schemas/Receipt'
        problem:
          $ref: '#/components/schemas/Problem'
        pending:
          $ref: '#/components/schemas/Job_pending'
        links:
          $ref: '#/components/schemas/Job_links'
      required:
      - created_at
      - id
      - links
      - outcome
      - status
    UsageSummary:
      additionalProperties: false
      description: Metered call counts for one principal over a half-open window.
        Counts only.
      example:
        total: 0
        keyId: keyId
        until: 2000-01-23T04:56:07.000+00:00
        byOutcome:
          key: 1
        since: 2000-01-23T04:56:07.000+00:00
        byOperation:
          key: 6
      properties:
        keyId:
          type: string
        since:
          format: date-time
          type: string
        until:
          format: date-time
          type: string
        total:
          description: Total calls counted in the window (after any tag filter).
          type: integer
        byOperation:
          additionalProperties:
            type: integer
          description: "Count keyed by operation, e.g. { pay: 3, resolve: 1 }."
        byOutcome:
          additionalProperties:
            type: integer
          description: "Count keyed by outcome, e.g. { allow: 2, deny: 1 }."
      required:
      - byOperation
      - byOutcome
      - keyId
      - since
      - total
      - until
    WebhookEventType:
      description: The outbound event types a subscription filters on.
      enum:
      - payment.settled
      - intent.denied
      - approval.pending
      - memory.recorded
      - memory.tainted
      - memory.erased
      - memory.consolidated
      - audit.appended
      type: string
    WebhookEndpoint:
      additionalProperties: false
      description: A registered delivery endpoint as the reads expose it (secret redacted).
      example:
        active: true
        id: id
        url: https://openapi-generator.tech
        events:
        - payment.settled
        - payment.settled
      properties:
        id:
          type: string
        url:
          format: uri
          type: string
        events:
          items:
            $ref: '#/components/schemas/WebhookEventType'
          type: array
        active:
          type: boolean
      required:
      - active
      - events
      - id
      - url
    WebhookEndpointCreated:
      allOf:
      - $ref: '#/components/schemas/WebhookEndpoint'
      - properties:
          secret:
            description: "The `whsec_` HMAC signing secret. Shown ONCE, at create,\
              \ never again."
            type: string
        required:
        - secret
      example:
        active: true
        id: id
        secret: secret
        url: https://openapi-generator.tech
        events:
        - payment.settled
        - payment.settled
    WebhookEvent:
      additionalProperties: {}
      description: |
        One delivered webhook event, derived from a signed audit entry. `id` is deterministic
        in the source entry (dedup key across at-least-once retries). Signed with the endpoint's
        secret via the `GL-Signature` header.
      properties:
        id:
          description: "Deterministic event id, `evt_<audit_hash>`."
        type:
          $ref: '#/components/schemas/WebhookEventType'
        created_at:
          format: date-time
          type: string
        data:
          additionalProperties: {}
          description: |
            The source entry's payload plus the chain coordinates (`audit_seq`, `audit_hash`,
            `audit_type`) that let a consumer re-verify the underlying signed audit entry. For
            `payment.settled` a Receipt-shaped record; for `intent.denied` / `approval.pending`
            the gate Decision; for `memory.*` the memory event payload (record id, source, and
            for erasure the erased ids + actor); for `audit.appended` the whole AuditEvent.
      required:
      - created_at
      - data
      - id
      - type
    Seal:
      additionalProperties: false
      description: A sealed hash+signature pair carried by every signed memory artifact.
      example:
        signature: signature
        hash: hash
      properties:
        hash:
          type: string
        signature:
          type: string
      required:
      - hash
      - signature
    MemoryMandate:
      additionalProperties: false
      description: |
        Scopes an agent's memory authority — the memory analog of the spend mandate. `asOfFloor`
        bounds how far back a recall may reach (a recall `validAt` earlier than it is refused).
      example:
        canErase: true
        canRead: true
        namespace: namespace
        canWrite: true
        asOfFloor: 2000-01-23T04:56:07.000+00:00
      properties:
        namespace:
          type: string
        canRead:
          type: boolean
        canWrite:
          type: boolean
        canErase:
          type: boolean
        asOfFloor:
          format: date-time
          type: string
      required:
      - canErase
      - canRead
      - canWrite
      - namespace
    MemoryRecord:
      additionalProperties: {}
      description: |
        One bi-temporal memory record. `validFrom`/`validTo` are the VALID-time window (the world
        the fact is about); `recordedAt`/`invalidatedAt` are the TRANSACTION-time window (when the
        store learned it). No-lookahead: a snapshot at a past instant never reveals a later edit.
      example:
        taint: true
        recordedAt: 2000-01-23T04:56:07.000+00:00
        edges:
        - to: to
          relation: relation
        - to: to
          relation: relation
        id: id
        validFrom: 2000-01-23T04:56:07.000+00:00
        source: source
        body: ""
        invalidatedAt: 2000-01-23T04:56:07.000+00:00
        validTo: 2000-01-23T04:56:07.000+00:00
      properties:
        id:
          type: string
        body:
          description: The arbitrary record payload.
        validFrom:
          format: date-time
          type: string
        validTo:
          format: date-time
        recordedAt:
          format: date-time
          type: string
        invalidatedAt:
          format: date-time
        edges:
          items:
            $ref: '#/components/schemas/MemoryRecord_edges_inner'
        taint:
          type: boolean
        source:
          type: string
      required:
      - body
      - edges
      - id
      - invalidatedAt
      - recordedAt
      - source
      - taint
      - validFrom
      - validTo
    Snapshot:
      additionalProperties: false
      description: "A point-in-time snapshot — the records valid at `validAt`/`txAt`,\
        \ under one seal."
      example:
        txAt: 2000-01-23T04:56:07.000+00:00
        records:
        - taint: true
          recordedAt: 2000-01-23T04:56:07.000+00:00
          edges:
          - to: to
            relation: relation
          - to: to
            relation: relation
          id: id
          validFrom: 2000-01-23T04:56:07.000+00:00
          source: source
          body: ""
          invalidatedAt: 2000-01-23T04:56:07.000+00:00
          validTo: 2000-01-23T04:56:07.000+00:00
        - taint: true
          recordedAt: 2000-01-23T04:56:07.000+00:00
          edges:
          - to: to
            relation: relation
          - to: to
            relation: relation
          id: id
          validFrom: 2000-01-23T04:56:07.000+00:00
          source: source
          body: ""
          invalidatedAt: 2000-01-23T04:56:07.000+00:00
          validTo: 2000-01-23T04:56:07.000+00:00
        validAt: 2000-01-23T04:56:07.000+00:00
        seal:
          signature: signature
          hash: hash
      properties:
        records:
          items:
            $ref: '#/components/schemas/MemoryRecord'
          type: array
        validAt:
          format: date-time
          type: string
        txAt:
          format: date-time
          type: string
        seal:
          $ref: '#/components/schemas/Seal'
      required:
      - records
      - seal
      - txAt
      - validAt
    SnapshotPage:
      allOf:
      - $ref: '#/components/schemas/Page'
      - description: A cursor page over a snapshot's records; the seal covers the
          COMPLETE snapshot.
        properties:
          data:
            items:
              $ref: '#/components/schemas/MemoryRecord'
            type: array
          validAt:
            format: date-time
            type: string
          txAt:
            format: date-time
            type: string
          seal:
            $ref: '#/components/schemas/Seal'
        required:
        - seal
        - txAt
        - validAt
      example:
        txAt: 2000-01-23T04:56:07.000+00:00
        next_cursor: next_cursor
        data:
        - taint: true
          recordedAt: 2000-01-23T04:56:07.000+00:00
          edges:
          - to: to
            relation: relation
          - to: to
            relation: relation
          id: id
          validFrom: 2000-01-23T04:56:07.000+00:00
          source: source
          body: ""
          invalidatedAt: 2000-01-23T04:56:07.000+00:00
          validTo: 2000-01-23T04:56:07.000+00:00
        - taint: true
          recordedAt: 2000-01-23T04:56:07.000+00:00
          edges:
          - to: to
            relation: relation
          - to: to
            relation: relation
          id: id
          validFrom: 2000-01-23T04:56:07.000+00:00
          source: source
          body: ""
          invalidatedAt: 2000-01-23T04:56:07.000+00:00
          validTo: 2000-01-23T04:56:07.000+00:00
        validAt: 2000-01-23T04:56:07.000+00:00
        seal:
          signature: signature
          hash: hash
        has_more: true
    AssembledContext:
      additionalProperties: false
      description: |
        A budgeted, ordered context assembled from a snapshot, under one seal. Abstention
        (`abstained: true`) is a valid result — the engine declining to fill the budget.
      example:
        abstainReason: abstainReason
        records:
        - taint: true
          recordedAt: 2000-01-23T04:56:07.000+00:00
          edges:
          - to: to
            relation: relation
          - to: to
            relation: relation
          id: id
          validFrom: 2000-01-23T04:56:07.000+00:00
          source: source
          body: ""
          invalidatedAt: 2000-01-23T04:56:07.000+00:00
          validTo: 2000-01-23T04:56:07.000+00:00
        - taint: true
          recordedAt: 2000-01-23T04:56:07.000+00:00
          edges:
          - to: to
            relation: relation
          - to: to
            relation: relation
          id: id
          validFrom: 2000-01-23T04:56:07.000+00:00
          source: source
          body: ""
          invalidatedAt: 2000-01-23T04:56:07.000+00:00
          validTo: 2000-01-23T04:56:07.000+00:00
        seal:
          signature: signature
          hash: hash
        abstained: true
        order:
        - order
        - order
        budget:
          maxTokens: 0
      properties:
        records:
          items:
            $ref: '#/components/schemas/MemoryRecord'
          type: array
        order:
          items:
            type: string
          type: array
        budget:
          $ref: '#/components/schemas/AssembledContext_budget'
        abstained:
          type: boolean
        abstainReason:
          type: string
        seal:
          $ref: '#/components/schemas/Seal'
      required:
      - abstained
      - budget
      - order
      - records
      - seal
    ErasureProof:
      additionalProperties: false
      description: The signed cascading-erasure proof `forget` returns — the erased
        ids under a seal.
      example:
        erased:
        - erased
        - erased
        proof:
          signature: signature
          hash: hash
      properties:
        erased:
          items:
            type: string
          type: array
        proof:
          $ref: '#/components/schemas/Seal'
      required:
      - erased
      - proof
    RememberRequest:
      additionalProperties: false
      description: A gated memory write. The mandate needs `canWrite`.
      example:
        mandate:
          canErase: true
          canRead: true
          namespace: namespace
          canWrite: true
          asOfFloor: 2000-01-23T04:56:07.000+00:00
        edges:
        - to: to
          relation: relation
        - to: to
          relation: relation
        validFrom: 2000-01-23T04:56:07.000+00:00
        source: source
        body: ""
        validTo: 2000-01-23T04:56:07.000+00:00
      properties:
        mandate:
          $ref: '#/components/schemas/MemoryMandate'
        body: {}
        validFrom:
          format: date-time
          type: string
        validTo:
          format: date-time
          nullable: true
          type: string
        edges:
          items:
            $ref: '#/components/schemas/RememberRequest_edges_inner'
          type: array
        source:
          type: string
      required:
      - mandate
      - source
      - validFrom
      - validTo
    RecallRequest:
      additionalProperties: false
      description: A point-in-time read. The mandate needs `canRead`.
      example:
        txAt: 2000-01-23T04:56:07.000+00:00
        mandate:
          canErase: true
          canRead: true
          namespace: namespace
          canWrite: true
          asOfFloor: 2000-01-23T04:56:07.000+00:00
        validAt: 2000-01-23T04:56:07.000+00:00
        namespace: namespace
      properties:
        mandate:
          $ref: '#/components/schemas/MemoryMandate'
        validAt:
          format: date-time
          type: string
        txAt:
          format: date-time
          type: string
        namespace:
          type: string
      required:
      - mandate
      - txAt
      - validAt
    AssembleRequest:
      additionalProperties: false
      description: Budgeted context assembly over a supplied snapshot OR recall params.
      example:
        mandate:
          canErase: true
          canRead: true
          namespace: namespace
          canWrite: true
          asOfFloor: 2000-01-23T04:56:07.000+00:00
        recall:
          txAt: 2000-01-23T04:56:07.000+00:00
          validAt: 2000-01-23T04:56:07.000+00:00
        namespace: namespace
        snapshot:
          txAt: 2000-01-23T04:56:07.000+00:00
          records:
          - taint: true
            recordedAt: 2000-01-23T04:56:07.000+00:00
            edges:
            - to: to
              relation: relation
            - to: to
              relation: relation
            id: id
            validFrom: 2000-01-23T04:56:07.000+00:00
            source: source
            body: ""
            invalidatedAt: 2000-01-23T04:56:07.000+00:00
            validTo: 2000-01-23T04:56:07.000+00:00
          - taint: true
            recordedAt: 2000-01-23T04:56:07.000+00:00
            edges:
            - to: to
              relation: relation
            - to: to
              relation: relation
            id: id
            validFrom: 2000-01-23T04:56:07.000+00:00
            source: source
            body: ""
            invalidatedAt: 2000-01-23T04:56:07.000+00:00
            validTo: 2000-01-23T04:56:07.000+00:00
          validAt: 2000-01-23T04:56:07.000+00:00
          seal:
            signature: signature
            hash: hash
        budget:
          maxTokens: 0
      properties:
        mandate:
          $ref: '#/components/schemas/MemoryMandate'
        snapshot:
          $ref: '#/components/schemas/Snapshot'
        recall:
          $ref: '#/components/schemas/AssembleRequest_recall'
        budget:
          $ref: '#/components/schemas/AssembledContext_budget'
        namespace:
          type: string
      required:
      - budget
      - mandate
    ForgetRequest:
      additionalProperties: false
      description: Cascading erasure of a root and its dependents. Operator-privileged;
        needs `canErase`.
      example:
        mandate:
          canErase: true
          canRead: true
          namespace: namespace
          canWrite: true
          asOfFloor: 2000-01-23T04:56:07.000+00:00
        rootId: rootId
      properties:
        mandate:
          $ref: '#/components/schemas/MemoryMandate'
        rootId:
          type: string
      required:
      - mandate
      - rootId
    Order:
      additionalProperties: false
      description: The completed result of buy(). Beta.
      example:
        receipt:
          reference: reference
          intent_key: intent_key
          terms:
            credential: credential
            capital_source: payer
            rail: null
            reversibility: reversible
            finality: instant
            presence: present
          rail: x402
          enforcement: enforcement
          settled_at: 2000-01-23T04:56:07.000+00:00
        id: id
        cart:
          total:
            asset: asset
            value: value
          expires_at: 2000-01-23T04:56:07.000+00:00
          id: id
          line_items:
          - "{}"
          - "{}"
        status: pending
      properties:
        id:
          type: string
        status:
          enum:
          - pending
          - authorized
          - completed
          - cancelled
          type: string
        receipt:
          $ref: '#/components/schemas/Receipt'
        cart:
          $ref: '#/components/schemas/Cart'
      required:
      - id
      - status
    Cart:
      additionalProperties: {}
      description: A server-authoritative priced checkout state. Beta.
      example:
        total:
          asset: asset
          value: value
        expires_at: 2000-01-23T04:56:07.000+00:00
        id: id
        line_items:
        - "{}"
        - "{}"
      properties:
        id:
          type: string
        total:
          $ref: '#/components/schemas/Amount'
        line_items:
          items:
            additionalProperties: false
        expires_at:
          format: date-time
          type: string
      required:
      - id
      - total
    Proof:
      additionalProperties: {}
      description: A falsifiable Proof-of-Enforcement record binding authorization
        scope to execution outcome.
      properties:
        policy_hash:
          description: Byte-identical between the enforcement emitter and the independent
            verifier.
        intent_key:
          type: string
        verified:
          type: boolean
      required:
      - intent_key
      - policy_hash
    Problem:
      additionalProperties: false
      description: |
        RFC 7807 problem detail. For an agent the error IS the recovery instruction:
        `code` is a stable machine token to branch on and `retry_after` is a valid-retry hint.
      example:
        instance: https://openapi-generator.tech
        code: code
        detail: detail
        retry_after: 6
        type: https://openapi-generator.tech
        title: title
        status: 139
      properties:
        type:
          default: about:blank
          description: A URI reference identifying the problem type.
          format: uri
          type: string
        title:
          description: "Short, human-readable summary of the problem type."
          type: string
        status:
          description: HTTP status code.
          maximum: 599
          minimum: 100
          type: integer
        detail:
          description: Human-readable explanation specific to this occurrence.
          type: string
        instance:
          format: uri
          type: string
        code:
          description: |
            Stable machine code an agent branches on, e.g. "over_mandate" | "rate_limited". The
            memory group adds: "memory.denied" (403, engine refused a gated write), "memory.forbidden"
            (403, mandate scope/capability refusal), and "memory.pending" (202, write parked for
            operator confirmation).
          type: string
        retry_after:
          description: Valid-retry hint in seconds; absent when the call must not
            be retried as-is.
          type: integer
      required:
      - status
      - title
      - type
    OperatorApprove:
      additionalProperties: false
      description: |
        Resume material for a parked intent, exactly as carried on an `approval.pending`
        problem, plus the operator's rationale and challenge-response acknowledgement.
      example:
        acknowledged: true
        challenge: challenge
        mandate_id: mandate_id
        intent_id: intent_id
        rationale: rationale
      properties:
        intent_id:
          description: The parked intent id.
          type: string
        challenge:
          description: The opaque challenge that binds this approval to that intent.
            Not a bearer credential.
          type: string
        mandate_id:
          description: The mandate the gate matched when it parked the intent.
          type: string
        rationale:
          description: Why the operator is releasing it. Recorded in the signed audit
            chain.
          minLength: 10
          type: string
        acknowledged:
          description: |
            Explicit challenge-response acknowledgement. Never inferred: a high-risk,
            irreversible or large intent is not released unless this is `true`.
          type: boolean
      required:
      - acknowledged
      - challenge
      - intent_id
      - mandate_id
      - rationale
    OperatorRefund:
      additionalProperties: false
      example:
        intent_id: intent_id
        rationale: rationale
        amount_minor: 1
      properties:
        intent_id:
          type: string
        amount_minor:
          description: "Minor units to refund. Omitted, the full outstanding amount."
          minimum: 1
          type: integer
        rationale:
          minLength: 10
          type: string
      required:
      - intent_id
      - rationale
    OperatorKillSwitch:
      additionalProperties: false
      example:
        engaged: true
        rationale: rationale
      properties:
        engaged:
          description: True freezes the settle path; false releases it. Signed separately
            per direction.
          type: boolean
        rationale:
          minLength: 10
          type: string
      required:
      - engaged
      - rationale
    OperatorRationale:
      additionalProperties: false
      example:
        rationale: rationale
      properties:
        rationale:
          minLength: 10
          type: string
      required:
      - rationale
    RefundResult:
      additionalProperties: false
      example:
        reason: reason
        ok: true
        refunded_minor: 0
      properties:
        ok:
          type: boolean
        refunded_minor:
          description: Cumulative minor units refunded against the intent.
          type: integer
        reason:
          description: "Present on refusal, e.g. an irreversible settlement."
          type: string
      required:
      - ok
      - refunded_minor
    OperatorStateView:
      additionalProperties: false
      description: "The live halt state, returned so an operator sees the effect of\
        \ what they just did."
      example:
        circuit_breaker_open: true
        kill_switch_engaged: true
      properties:
        kill_switch_engaged:
          type: boolean
        circuit_breaker_open:
          type: boolean
      required:
      - circuit_breaker_open
      - kill_switch_engaged
    resolve_request:
      additionalProperties: {}
      properties:
        ref:
          description: "A2A card URL, signed disclosure id, or CAIP-10 account."
      required:
      - ref
    audit_200_response:
      allOf:
      - $ref: '#/components/schemas/Page'
      - properties:
          data:
            items:
              $ref: '#/components/schemas/AuditEvent'
            type: array
      example:
        next_cursor: next_cursor
        data:
        - at: 2000-01-23T04:56:07.000+00:00
          intent_key: intent_key
          payload: "{}"
          prev: prev
          type: type
        - at: 2000-01-23T04:56:07.000+00:00
          intent_key: intent_key
          payload: "{}"
          prev: prev
          type: type
        has_more: true
    listWebhookEndpoints_200_response:
      example:
        data:
        - active: true
          id: id
          url: https://openapi-generator.tech
          events:
          - payment.settled
          - payment.settled
        - active: true
          id: id
          url: https://openapi-generator.tech
          events:
          - payment.settled
          - payment.settled
      properties:
        data:
          items:
            $ref: '#/components/schemas/WebhookEndpoint'
          type: array
      required:
      - data
    createWebhookEndpoint_request:
      additionalProperties: {}
      properties:
        url:
          format: uri
        events:
          items:
            $ref: '#/components/schemas/WebhookEventType'
          minItems: 1
        active:
          default: true
      required:
      - events
      - url
    updateWebhookEndpoint_request:
      additionalProperties: {}
      properties:
        url:
          format: uri
        events:
          items:
            $ref: '#/components/schemas/WebhookEventType'
        active:
          type: boolean
    memoryVerify_request:
      additionalProperties: {}
      properties:
        artifact:
          description: A signed memory artifact to verify.
      required:
      - artifact
    memoryVerify_200_response:
      example:
        valid: true
        reason: reason
      properties:
        valid:
          type: boolean
        reason:
          type: string
      required:
      - valid
    quote_request:
      additionalProperties: {}
      properties:
        what:
          description: Merchant reference / product query.
        constraints:
          additionalProperties: {}
      required:
      - what
    Disclosure_signature:
      additionalProperties: false
      description: The ed25519 signature over the canonicalized document.
      example:
        public_key: public_key
        value: value
        algorithm: ed25519
      properties:
        algorithm:
          enum:
          - ed25519
        public_key:
          description: |
            Signer's public key (hex). Equals document.agentId in the common case; under rotation it is the current key at the tip of rotation_chain.
        value:
          description: Signature over the canonicalized document (hex).
      required:
      - algorithm
      - public_key
      - value
    Job_pending:
      additionalProperties: false
      description: "Resume material, present only on a pending job."
      example:
        mandateId: mandateId
        challenge: challenge
      properties:
        mandateId:
          type: string
        challenge:
          description: Opaque challenge an operator approval binds to.
    Job_links:
      additionalProperties: false
      example:
        self: self
        events: events
      properties:
        self:
          type: string
        events:
          type: string
      required:
      - events
      - self
    MemoryRecord_edges_inner:
      additionalProperties: false
      example:
        to: to
        relation: relation
      properties:
        relation:
          type: string
        to:
          type: string
      required:
      - relation
      - to
    AssembledContext_budget:
      example:
        maxTokens: 0
      properties:
        maxTokens:
          type: integer
      required:
      - maxTokens
    RememberRequest_edges_inner:
      example:
        to: to
        relation: relation
      properties:
        relation:
          type: string
        to:
          type: string
      required:
      - relation
      - to
    AssembleRequest_recall:
      example:
        txAt: 2000-01-23T04:56:07.000+00:00
        validAt: 2000-01-23T04:56:07.000+00:00
      properties:
        validAt:
          format: date-time
          type: string
        txAt:
          format: date-time
          type: string
      required:
      - txAt
      - validAt
  securitySchemes:
    bearerAuth:
      description: |
        Bootstrap-only static bearer token. The **target** auth per BUILD-PLAN §8 is
        OAuth 2.1 + PKCE with DPoP (RFC 9449) sender-constrained, short-lived scoped
        tokens; static keys are demoted to bootstrap. Modeled as a pluggable hook.
      scheme: bearer
      type: http
    operatorAuth:
      description: |
        Operator authority for `/operator/*`, a SEPARATE authorization domain from
        `bearerAuth`. The header carries a detached ed25519 signature over the canonical
        request (operation · method · URL · timestamp · single-use nonce · body digest).
        The hosted server holds only the operator PUBLIC keys, so it cannot mint this
        credential even for itself, and the agent's bearer token grants nothing on these
        routes. That structural separation is the product's core control: an agent
        credential can never perform an operator action.
      in: header
      name: GL-Operator
      type: apiKey
